$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$font-size: 16px;
$line-height: 1.2;

$text-color: #303030;
$header-color: lighten($text-color, 10%);

$link-color: steelblue;
$link-hover-color: orange;

$standard-spacing: 8px;
$half-standard-spacing: $standard-spacing / 2;
$twice-standard-spacing: $standard-spacing * 2;

$border-radius: 2px;

$panel-width: 400px;
$panel-width-xs: 300px;

// Header
$header-height: 32px + $standard-spacing;
$header-height-sm: 32px + $standard-spacing;
$header-width: 320px;
$header-width-sm: 240px;

// Menus
$menu-width: $header-width;
$menu-width-sm: $header-width-sm;
$menu-item-background-color-hover: #f8f8f8;
$menu-item-border-color: #e0e0e0;
$menu-item-color: $text-color;

// Buttons
$button-width: 32px;

// Map
$overview-switcher-width: 96px;
$overview-switcher-width-lg: 128px;
