@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.Search {
    form {
        display: flex;
        flex-direction: row;
        input {
            flex: 1;
        }
    }

    .results {
        padding-top: 40px + $twice-standard-spacing;
    }

    ul.results {
        @include menu(
            $item-padding: $standard-spacing
        );

        li:first-child {
            border-top: 1px solid $menu-item-border-color;
        }

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}
