@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.Directions {
    form {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: row;
            &:last-child {
                border-bottom: none;
            }
        }

        div.fields, div.swap-from-and-to {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        div.fields {
            flex: 1;
            > div {
                margin: 0 $quarter-standard-spacing;
            }
            > div:first-child {
                border-bottom: 1px solid lightgray;
            }
            input {
                width: 100%;
            }
        }

        div.buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .result {
        padding-top: 121px + $twice-standard-spacing;
    }

    ul.result {
        @include menu(
            $item-padding: $standard-spacing
        );

        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        background-color: white;

        li:first-child {
            border-top: 1px solid $menu-item-border-color;
        }

        li {
            a {
                color: $text-color;
            }
        }

        li.direction {
            .direction-first {
                padding-left: $half-standard-spacing;
                width: 64px - $half-standard-spacing;
            }
            .direction-turn {
                width: 64px;
            }
            .direction-name {
                flex: 1;
            }
        }

        li.direction.start {
            background-color: green;
        }

        li.direction.end {
            background-color: red;
        }
    }
}
