@import "./styles/mixins.scss";
@import "./styles/variables.scss";

.App {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .header {
        position: absolute;
        top: 0;
        right: 0;
        width: $menu-width;
        z-index: 1;

        > .title {
            @include title();
        }

        @media (max-width: $md-width - 1px) {
            top: auto;
            right: auto;
            bottom: $standard-spacing;
            left: $twice-standard-spacing + 128px;

            > .title {
                padding: 0;
                font-size: 20px;
            }
        }

        @media (max-width: $sm-width - 1px) {
            left: $standard-spacing;
        }

        @media (max-width: $xs-width - 1px) {
            bottom: $quarter-standard-spacing;
            left: $quarter-standard-spacing;

            > .title {
                font-size: 16px;
            }
        }
    }

    .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $quarter-standard-spacing - 1px;
        z-index: 1;
        animation: blinker 1.5s linear infinite;
        background-color: seagreen;
        border-bottom: 1px solid white;
    }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.25; }
    100% { opacity: 1.0; }
}

.Function {
    position: absolute;
    width: $panel-width;
    z-index: 2;

    > form {
        @include floating-element();

        position: absolute;
        top: $standard-spacing;
        left: $standard-spacing;
        width: $panel-width - $twice-standard-spacing;
        z-index: 1;

        margin: 0;
        padding: 0;

        background-color: white;

        input {
            border: none;
            outline: 0;
            margin: 0;
            padding: 0 $quarter-standard-spacing;
            height: 40px;
            line-height: 22px;
            font-size: 16px;

            @media (max-width: $xs-width - 1px) {
                font-size: 14px;
                padding: 0 2px;
            }
        }

        span {
            color: gray;
            font-size: 22px;
            line-height: 1;
            margin: $half-standard-spacing 0;
        }

        @media (max-width: $xs-width - 1px) {
            top: $quarter-standard-spacing;
            left: $quarter-standard-spacing;
            right: $quarter-standard-spacing;
            width: auto;
        }
    }

    .result {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .error {
        @include floating-element();

        background-color: white;
        color: red;
        margin: 0;
        padding-left: $standard-spacing;
        padding-right: $standard-spacing;
        padding-bottom: $standard-spacing;

        .error-title {
            font-size: 20px;
            margin-bottom: $standard-spacing;
        }

        .error-message > * {
            margin-top: 0;
            margin-bottom: $half-standard-spacing;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: $xs-width - 1px) {
        width: 100%;
    }
}
